body,
ul,
li {
  margin: 0;
  padding: 0;
}

button {
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

ul {
  list-style: none;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

::selection {
  background: rgba(255, 183, 183, 0.8);
}
::-moz-selection {
  background: rgba(255, 183, 183, 0.8);
}

nav {
  border-bottom: 1px solid rgb(201, 201, 201);
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: #fff;
}

nav .container {
  display: flex;
  flex-basis: 1100px;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
}

@media all and (min-width: 992px) {
  nav .container {
    max-width: 962px;
  }
}

@media all and (min-width: 1200px) {
  nav .container {
    max-width: 1140px;
  }
}

.logo {
  width: 50px;
  margin: 0 1rem;
}

.nav__menu_items {
  display: flex;
}

.nav__menu_items {
  display: none;
}

button.hamburger {
  /* font-size: 1.8rem; */
  padding: 1.7rem;
  cursor: pointer;
  color: slategray;
}

@media all and (min-width: 992px) {
  .nav__menu_items {
    display: flex;
  }
  .container .hamburger {
    display: none;
  }
}

.nav__menu_items a {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: slategray;
  padding: 1.4rem;
}

.nav__menu_items a.active {
  border-bottom: 4px solid salmon;
  color: salmon;
}
