@use 'base';

body {
  font-family: 'Poppins', sans-serif;
}

::selection {
  background: rgba(79, 201, 204, 0.6);
}
::-moz-selection {
  background: rgba(79, 201, 204, 0.6);
}

nav {
  border-bottom: 1px solid rgb(201, 201, 201);
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: #fff;
  /* Temp hide for working with Hero */
  display: none;
}

nav .container {
  display: flex;
  flex-basis: 1100px;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
}

@media all and (min-width: 992px) {
  nav .container {
    max-width: 962px;
  }
}

@media all and (min-width: 1200px) {
  nav .container {
    max-width: 1140px;
  }
}

.logo {
  width: 50px;
  margin: 0 1rem;
}

.nav__menu_items {
  display: flex;
}

.nav__menu_items {
  display: none;
}

button.hamburger {
  /* font-size: 1.8rem; */
  padding: 1.7rem;
  cursor: pointer;
  color: slategray;
}

@media all and (min-width: 992px) {
  .nav__menu_items {
    display: flex;
  }
  .container .hamburger {
    display: none;
  }
}

.nav__menu_items a {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: slategray;
  padding: 1.4rem;
}

.nav__menu_items a.active {
  border-bottom: 4px solid salmon;
  color: salmon;
}

/* Hero */

.hero {
  width: 100vw;
  height: 100vh;
  background: url('./assets/hero.jpg');
  background-position: center;
  background-size: cover;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.hero__text_greeting {
  text-align: center;
}

%stylish_heding {
  color: slategray;
  text-shadow: 2px 1px 0 white, 4px 3px 0 slateblue;
}

.hero h1 {
  @extend %stylish_heding;
  font-size: 4rem;
  font-style: italic;
}

.hero h2 {
  margin: 0;
  margin-top: 0.5rem;
  color: slategray;
}

/* About */

.about {
  text-align: center;
  display: flex;
  justify-content: center;
  width: auto;
  max-width: 1200px;
  margin: 0 auto;
}

.about__image {
  margin-top: 5rem;
}

h2 {
  @extend %stylish_heding;
  color: black;
}

.about__description {
  max-width: 500px;
  padding: 3rem;
}

@media all and (max-width: 960px) {
  .about {
    flex-direction: column;
  }

  .about__description {
    margin: 0 auto;
    padding: 0;
  }
}

@media all and (max-width: 768px) {
  .about__description {
    max-width: 100%;
  }

  .about__description {
    padding: 1rem;
  }
}

// Uses

.uses {
  background-color: salmon;
}

.uses .container {
  max-width: 1280px;
  width: 85%;
  margin: 0 auto;
}

.fitebase_icon {
  height: 20px;
}

.uses__icons {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, minmax(125px, 1fr));
}

@media all and (max-width: 1045px) {
  .uses__icons {
    grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
  }
}

.uses__icons > * {
  border: 1px solid green;
}
