@use 'presets';
@use 'base';
@use 'hero';

$purple: #4d4762;
$cream: #fcf6f3;
$red: #ff8f7c;
$yellow: #ffcb75;
$green: #75ddc6;

body {
  font-family: 'Poppins', sans-serif;
  background-color: $cream;
}

hr {
  border: none;
  border-top: 5px dotted $yellow;
}

::selection {
  background: rgba(79, 201, 204, 0.6);
}
::-moz-selection {
  background: rgba(79, 201, 204, 0.6);
}

nav {
  border-bottom: 1px solid rgb(201, 201, 201);
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: #fff;
  /* Temp hide for working with Hero */
  display: none;
}

nav .container {
  display: flex;
  flex-basis: 1100px;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
}

@media all and (min-width: 992px) {
  nav .container {
    max-width: 962px;
  }
}

@media all and (min-width: 1200px) {
  nav .container {
    max-width: 1140px;
  }
}

.logo {
  width: 50px;
  margin: 0 1rem;
}

.nav__menu_items {
  display: flex;
}

.nav__menu_items {
  display: none;
}

button.hamburger {
  /* font-size: 1.8rem; */
  padding: 1.7rem;
  cursor: pointer;
  color: slategray;
}

@media all and (min-width: 992px) {
  .nav__menu_items {
    display: flex;
  }
  .container .hamburger {
    display: none;
  }
}

.nav__menu_items a {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: slategray;
  padding: 1.4rem;
}

.nav__menu_items a.active {
  border-bottom: 4px solid salmon;
  color: salmon;
}

/* Hero */

/* About */

.about {
  text-align: center;
  display: flex;
  justify-content: center;
  width: auto;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 3rem;
}

.about__image {
  margin-top: 5rem;
  padding-right: 2rem;

  img {
    width: 300px;
    border-radius: 50%;
  }
}

.about h2,
.work h2,
.uses h2,
.contact h2 {
  @extend %stylish_heading;
}

.about h2,
.work h2 {
  color: $purple;
}

.contact h2,
.uses h2 {
  color: $cream;
}

.about a {
  color: $red;
}

.about__description {
  // max-width: 500px;
  padding: 3rem 0;
  padding-right: 3rem;
  flex-basis: 500px;
  text-align: start;

  color: $purple;
}

@media all and (max-width: 960px) {
  .about {
    flex-direction: column;
  }

  .about__image {
    padding: 0;
  }

  .about__description {
    margin: 0 auto;
    padding: 0;
    max-width: 500px;
  }
}

@media all and (max-width: 768px) {
  .about__description {
    max-width: 100%;
    padding: 0 3rem;
  }
}

.section_heading {
  font-size: 3rem;
  text-align: center;
}

// Uses

.uses {
  background-color: $purple;
  padding-top: 2rem;
  padding-bottom: 5rem;
  color: $cream;
}

.uses hr {
  width: 100%;
}

%content_container {
  max-width: 1280px;
  width: 85%;
  margin: 0 auto;
  text-align: center;
}

.uses .container {
  @extend %content_container;
}

.firebase_icon {
  height: 5.1875rem;
  @extend %stylish_heading;
  filter: drop-shadow(2px 1px 0 $cream);
}

.uses__icons {
  display: grid;
  width: 100%;
  margin-top: 3rem;
  padding: 0 10rem;
  grid-template-columns: repeat(4, minmax(125px, 1fr));
  gap: 1rem;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.6s ease, transform 0.6s ease;

  &.pre-animation {
    opacity: 0;
    transform: translateY(4rem);
  }
}

@media all and (max-width: 1045px) {
  .uses__icons {
    grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
  }
}

@media all and (max-width: 1040px) {
  .uses__icons {
    padding: 0 5rem;
  }
}

@media all and (max-width: 960px) {
  .uses__icons {
    padding: 0 2rem;
  }
}

.icons__icon {
  @extend %stylish_heading;
  text-shadow: 2px 1px 0 $cream;
  font-size: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icon__title {
  font-size: 1rem;
  margin-top: 1rem;
  text-shadow: none;
}

.work {
  padding: 2rem 0;
}

.work__preview img {
  width: 100%;
}

.work .container {
  @extend %content_container;
}

.work h4 {
  color: $purple;
}

.contact {
  background-color: $purple;
  color: $cream;
  padding: 2rem 0;
}

.connect__flex_wrap {
  display: flex;
  // align-items: center;
}

.connect_flex__text_prompt {
  flex: 1;
  width: 60%;
  text-align: left;
}

@media all and (min-width: 1050px) {
  .connect_flex__text_prompt {
    width: 40%;
  }
}

@media all and (max-width: 565px) {
  .connect_flex__text_prompt {
    width: 100%;
  }
}
.connect__flex_wrap > *:last-child {
  flex: 2;
}

@media all and (max-width: 996px) {
  .connect__flex_wrap {
    flex-direction: column;
    align-items: center;
  }

  .connect_flex__text_prompt {
    text-align: center;
  }
}

.contact h6 {
  font-size: 1rem;
}

.contact .container {
  @extend %content_container;
}

.social_icons {
  @extend %stylish_heading;
  text-shadow: 2px 1px 0 $cream;
  display: flex;
  width: 200px;
  justify-content: center;
  margin: 0 auto;
  font-size: 2rem;
}

.social_icons > * {
  flex: 1;
}

.social_icons a {
  color: $green;
  transition: color 0.4s ease;
}

.social_icons a:hover {
  color: $yellow;
}

.contact_form {
  padding: 0 2rem;
  padding-bottom: 2rem;

  input,
  textarea {
    width: 100%;
    padding: 0.8rem;
    margin: 0.5rem 0;
    border: 1px solid rgb(187, 187, 187);
    border-radius: 3px;
  }

  .flex-wrap {
    display: flex;
    flex-direction: column;
  }

  @media all and (min-width: 996px) {
    .flex-wrap {
      flex-direction: row;
    }

    .flex-wrap > input:first-child {
      margin-right: 0.5rem;
    }

    .flex-wrap > input:last-child {
      margin-left: 0.5rem;
    }
  }

  textarea {
    resize: none;
  }

  textarea:focus,
  input:focus {
    outline: none;
    box-shadow: 0px 0px 5px lightblue;
  }

  textarea {
    font-family: 'Poppins', sans-serif;
  }

  button {
    margin-top: 1rem;
    color: white;
    font-size: 1rem;
    text-transform: uppercase;
    padding: 0.8rem 3rem;
    background-color: $green;
    border: 5px solid white;
    outline: 3px solid $green;
    transition: background-color 0.4s ease, outline 0.4s ease;
  }

  button:hover {
    background-color: $yellow;
    outline: 3px solid $yellow;
  }
}

@media all and (max-width: 996px) {
  .connect_flex__form_section {
    padding: 0;
    width: 100%;
  }
}

footer {
  padding: 1rem 0;
  text-align: center;
}
